/* C L O K A N    I S    T H E R E    F O R    Y O U */
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
}

canvas {
    margin: 0 auto;
    padding: 0;
    display: block;
    -o-transition: background-color 2s ease-in;
    -ms-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-in;
    -webkit-transition: background-color 2s ease-in;
    transition: background-color 2s ease-in;
}

.time {
    padding: 2.5%;
    line-height: 1;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    /*font-size: 300%;*/
    font-size: 4em;
    -o-transition: color 2s ease-in, left 0.5s ease-out, top 0.5s ease-out;
    -ms-transition: color 2s ease-in, left 0.5s ease-out, top 0.5s ease-out;
    -moz-transition: color 2s ease-in, left 0.5s ease-out, top 0.5s ease-out;
    -webkit-transition: color 2s ease-in, left 0.5s ease-out, top 0.5s ease-out;
    transition: color 2s ease-in, left 0.5s ease-out, top 0.5s ease-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.time.active {
    outline: 1px white solid;
}
.time .hour {}
.time .colon {
    opacity: 1;
    margin: 0 -7px;
    -o-animation: blink 1s ease-out 0s infinite alternate;
    -moz-animation: blink 1s ease-out 0s infinite alternate;
    -webkit-animation: blink 1s ease-out 0s infinite alternate;
    animation: blink 1s ease-out 0s infinite alternate;
    -o-transtion: opacity 1s ease-out;
    -ms-transtion: opacity 1s ease-out;
    -moz-transtion: opacity 1s ease-out;
    -webkit-transtion: opacity 1s ease-out;
    transtion: opacity 1s ease-out;
}
.time .minute {}
.time .xm {
    text-transform: uppercase;
    margin: 0 0 0 -7px;
}

@-o-keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}